{%extends 'smoothie/main.html'%}{%load static%}

{%block content%}

  </form>
</section>
<section id="FEATURE">
  <div id="FEATURES">
    <div id="delivery">
      <i class="fa fa-3x fa-truck"></i>
      <div>
        <h2>Quick delivery</h2>
        <p>Enjoy super fast delivery when ordering our products</p>
      </div>
    </div>
    <div id="nutrient">
      <i class="fab fa-nutritionix fa-3x"></i>
      <div>
        <h2>Highly nutritious</h2>
        <p>
          there's no doubt about smoothie being a highly nutritious product, our
          own cannot be left out
        </p>
      </div>
    </div>
  </div>

  <div class="container">
  <div id="PRICING">
    
    {%for product in products%}
    <div id="border">
      <figure>
        <img class="img-responsive" src="{{product.image.url}}" />
        <figcaption>{{product.about}}<br />{{product.price}}</figcaption>
        <a href="{% url 'cart' %}">
          <button data-action= "add" data-product={{product.id}} class="btn update-cart">ADD TO CART</button></a
        >
      </figure>
    </div>
    {%endfor%}
  </div>
  </div>
</section>

{% endblock content %}
